#{extends 'main.html' /}
#{set title:'Actividad LOGO-Compartido' /}

<p>
<applet id="netlogo" name="netlogo" 
	code="org.nlogo.lite.Applet"
	codebase="@{'/public/netlogo/poster/'}"
        archive="@{'/public/netlogo/poster/NetLogoLite.jar'},@{'/public/netlogo/poster/bitmap/bitmap.jar'},@{'/public/netlogo/poster/url/url.jar'},@{'/public/netlogo/poster/url/web.jar'}"
        width="1054" height="915">
        <param name="DefaultModel" value="appletActivity4-29.nlogo">
          
        
</applet>
</p>
