#{extends 'main.html' /}
#{set title:'Actividad CREANDO PATRONES' /}

<p>
<applet id="netlogo" name="netlogo" 
	code="org.nlogo.lite.Applet"
	codebase="@{'/public/netlogo/poster/'}"
        archive="@{'/public/netlogo/poster/NetLogoLite.jar'},@{'/public/netlogo/poster/bitmap/bitmap.jar'},@{'/public/netlogo/poster/url/url.jar'},@{'/public/netlogo/poster/url/web.jar'}"
         width="912" height="487">
        <param name="DefaultModel" value="patrones6.nlogo">
          <param name="java_arguments"
         value="-Djnlp.packEnabled=true">
 
</applet>
</p>

<p>
En esta actividad, vamos a construir patrones visuales de crecimiento, paso por paso.</p>
<p>
Para dibujar, pulsa el bot&oacute;n <b>dibujar</b> y puedes pintar los cuadrados, dando 'clic'.<br>
Si quieres quitar el color, da otra clic en el mismo cuadrado.</p>
<p>
Cuando est&eacute;s listo compartir tu patr&oacute;n, pon tu nombre en la entrada <b>tu-nombre</b> 
y da clic en el bot&oacute;n <b>compartir/enviar</b>.
</p>
