#{extends 'main.html' /}
#{set title:'Actividad CREANDO PATRONES' /}

<p>
<applet id="netlogo" name="netlogo" 
	code="org.nlogo.lite.Applet"
	codebase="@{'/public/netlogo/poster/'}"
        archive="@{'/public/netlogo/poster/NetLogoLite.jar'},@{'/public/netlogo/poster/bitmap/bitmap.jar'},@{'/public/netlogo/poster/url/url.jar'},@{'/public/netlogo/poster/url/web.jar'}"
         width="912" height="487">
        <param name="DefaultModel" value="patrones5.nlogo">
          <param name="java_arguments"
         value="-Djnlp.packEnabled=true">
          
        
</applet>
</p>


