#{extends 'main.html' /}
#{set title:'Student Sign-in Page' /}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}




<h1>Login as student: </h1>


<form action="@{Application.studentLogin()}" method="POST">
    <p>
    <b>Your Username:</b><br><input type="text" name="studentname" /> <br>
  </p><p>
    <b>Your Teacher: </b><br>
    #{list items:activeteachers, as:'ateacher'}
    <input type="radio" name="teachername" value='${ateacher}'/> ${ateacher}<br>
    #{/list}
    </p><p>
    <input type="submit" value="Log In" />
    </p>
</form>
<br>


<h3>NOTE: if your teacher's name is not in the list above, they have not yet started an activity.<br>
Wait until your teacher signs in and then refresh this page...</h3>
<h4>
Teachers with no simulation currently running:
<ul>
 #{list items:inactiveteachers, as:'iteacher'}
    <li>${iteacher}</li>
    #{/list}
</ul>
</h4>