#{extends 'main.html' /}
#{set title:'Rol del Estudiante' /}
Interfaz para el estudiante en el modelo:  ${model}<br>
Bienvenidos, ${studentname}<br>
Participando en la clase de ${teachername}, en puerto ${port}.



<div>
<applet id="stud" name="hubnetstudent" 
	code="org.nlogo.hubnet.client.ClientApplet"
	codebase="@{'/public/netlogo/student/'}"
        archive="@{'/public/netlogo/student/HubNet.jar'}"
        width="470" height="838">
        <param name="PortNumber" value="${port}">
        <param name="UserName" value="${studentname}">
        <param name="java_arguments"
         value="-Djnlp.packEnabled=true">
</applet>
</div>



