#{extends 'main.html' /}
#{set title:'Student Client' /}
Student client for ${model}<br>
Welcome, ${studentname}<br>
You are in ${teachername}'s class, working on port ${port}.



<div>
<applet id="stud" name="hubnetstudent" 
	code="org.nlogo.hubnet.client.ClientApplet"
	codebase="@{'/public/netlogo/student/'}"
        archive="@{'/public/netlogo/student/HubNet.jar'}"
        width="707" height="823">
        <param name="PortNumber" value="${port}">
        <param name="UserName" value="${studentname}">
</applet>
</div>



