#{extends 'main.html' /}
#{set title:'Teacher Client' /}

Welcome, ${teachername}<br>
Teacher client for ${modelname}

<div>
<applet id="teach" name="hubnetteacher" 
	code="org.nlogo.hubnet.client.ClientApplet"
	codebase="@{'/public/netlogo/teacher/'}"
        archive="@{'/public/netlogo/teacher/HubNet.jar'}"
        width="838" height="783">
        <param name="DefaultModel" value="${modelname}">
         <param name="PortNumber" value="${port}">
        <param name="UserName" value="${teachername}">
        <param name="java_arguments"
         value="-Djnlp.packEnabled=true">
</applet>
</div>



